.col-4{
    height: 150px;
    margin-bottom: 20px;
    
    
    
    
}
img{
    height:100%;
    width:100%;
    border: 10px solid ivory;
    
}
h1{
    text-align: center;
}
body{
    color:ivory;
    background-color: black;
}
.btn{
    padding: 100px;; 
}